body {
  background-color: #333333;
  color: #BBBBBB;
  a:link {
      color: pink;
      text-decoration: none;
  }
  a:visited {
      color: lightblue;
      text-decoration: none;
  }
  a:hover {
      color: white;
      text-decoration: underline;
  }
  a:active{
      color: red;
      text-decoration: underline;
  }
}
/* keep in mind that the header ASCII art is 86 characters long */
/* and approximately 630 pixels wide (at least on my setup?) */
.center {
  border: 5px solid;
  margin: auto; /* this is what allows centering of main column */
  width: 630px;
  padding: 25px;
}


div {
  font-family: monospace;
  font-size: 12px;
  text-align: left;
  /*text-align: left;*/
  hyphens: auto;
}

.piece {
  margin-bottom: .5cm;
  padding-left: 3em;
  text-indent: -3em;
}

.par1 {
  margin-bottom: .5cm;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.h1 {
    padding: 5px;
    text-align: center;
    color: #DDDDDD;
    font-size: 12px; 
    font-style: italic;
}

.pre1 {
    margin-bottom: 20px;
}

.pre2 {
    text-align: center;
}
